.clear-button {

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color: white;
  line-height: 1;
}

.clear-button:hover {
    background-color: black;
}