.footer {
    background-color: #f1eeee;
    color: rgb(115, 113, 113);
    padding: 0px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: rgb(115, 113,113);
    margin: 0 15px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  