.options-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px; 
  margin: 20px auto; 
  text-align: center;
}

.options-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option {
  flex: 0 1 30%; 
  margin: 10px;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; 
  height: 60px; 
  margin: 0 auto; 
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #333;
  font-size: 24px; 
}


.calendar-icon {
  color: #4caf50; /* Green */
}

.clock-icon {
  color: #f44336; /* Red */
}

.users-icon {
  color: #2196f3; /* Blue */
}

.comments-icon {
  color: #ff9800; /* Orange */
}

.bell-icon {
  color: #9c27b0; /* Purple */
}


.option p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.option a {
  text-decoration: none;
  color: inherit;
}

.option a:hover p {
  text-decoration: underline;
}
